:root {
    --main-color: rgba(244, 191, 58, 0.964);
    --black: black;
    --bg: black;
    --border: 2px solid rgba(255, 255, 255, .3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;

}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;

}

.btn {
    margin-top: 15px;
    display: inline-block;
    padding: 10px 12px;
    font-size: 20px;
    color: white;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: 0.2rem;
}

.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.header .logo {
    height: 7rem;
}

.header .logo img {
    height: 60px;
    width: 70px;
    padding-left: 0px;
}

.header .navbar {
    /* border: 1px solid white; */
    margin-left: -300px;
}

.header .navbar a {
    margin: 0 20px;
    font-size: 20px;
    color: white;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .4rem;
}

.header .icons div {
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin-left: 20px;
}

.header .icons div:hover {
    color: var(--main-color);
}

#menu-btn {
    /* display: none; */
}

.header .search-form {
    position: absolute;
    top: 35%;
    right: 12%;
    background: white;
    width: 35rem;
    height: 3rem;
    display: flex;
    align-items: center;
    /* transform: scaleY(0); */
    /* transform-origin: top; */
}

.header .search-form {
    transform: scaleY(1);
}


.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    color: var(--black);
    padding: 1.5rem;
    text-transform: none;

}

.header .search-form label {
    cursor: pointer;
    font-size: 15px;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--main-color);
}

.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: white;
    padding: 0 1.5rem;
}

.header .cart-items-container .active {
    right: 0;

}


.header .cart-items-container .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;

}

.header .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);

}

.cart-item img {
    height: 100px;
    width: 100px;
    overflow: hidden;
}


.header .cart-items-container .cart-item .fa-times:hover {
    color: var(--main-color);
}

.header .cart-items-container .cart-item .content h3 {
    font-size: 20px;
    color: var(--black);
    padding-bottom: 15px;
}

.header .cart-items-container .cart-item .content .price {
    font-size: 20px;
    color: var(--black);
    padding-bottom: 15px;
}

.header .cart-items-container .btn {
    width: 100%;
    text-align: center;
}

/* home section */
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('wallpaper 1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.home .content {
    max-width: 60rem;
}

.home .content h3 {
    font-size: 4rem;
    text-transform: uppercase;
    color: black;
}

.home .content p {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.8;
    padding: 1rem 0;
    color: black;
}

/* about section */
.about .row {
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.about .row .image {
    flex: 1 1 45rem;
}

.row img {
    width: 500px;
    height: 500px;
    margin-right: 35px;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: white;

}

.about .row .content p {
    font-size: 1.6rem;
    color: white;
    padding: 1rem 0;
    line-height: 1.8;
}

/* menu section */


.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);

}

.menu .box-container .box img {
    height: 15rem;
    width: 15rem;
}

.menu .box-container .box h3 {
    color: white;
    font-size: 2rem;
    padding: 1rem 0;

}

.menu .box-container .box .price {
    color: white;
    font-size: 2.5rem;
    padding: .5rem 0;

}

.menu .box-container .box .price span {
    color: white;
    font-size: 1.5rem;
    text-decoration: line-through;

}

.menu .box-container .box:hover {
    background: white;
}

.menu .box-container .box:hover>* {
    color: var(--black);

}

/* products section */
.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.products .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 1.5rem;
}

.products .box-container .box .icons a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 20px;
    border: var(--border);
    color: white;
    margin: 3rem;
}

.products .box-container .box .icons a:hover {
    background: var(--main-color);

}

.products .box-container .box .image {
    padding: 2.5rem 0;

}

.products .box-container .box .image img {
    height: 30rem;
    width: 27rem;

}

.products .box-container .box .content h3 {
    color: white;
    font-size: 2.5rem;

}

.products .box-container .box .content .stars {

    padding: 1.5rem;

}

.products .box-container .box .content .stars i {

    font-size: 1.7rem;
    color: var(--main-color);

}

.products .box-container .box .content .price {
    color: white;
    font-size: 2.5rem;

}

.products .box-container .box .content .price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 2rem;

}

/* review section */

.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;

}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}


.box img {
    height: 60px;
    width: 60px;
}

.review .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: white;
    padding: 2rem 0;
}

.review .box-container .box .user {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3 {
    padding: 1rem 0;
    font-size: 20px;
    color: white;
}

.review .box-container .box .stars i {

    font-size: 15px;
    color: var(--main-color);
}

/* contact section */

.contact .row {
    display: flex;
    border: 2px solid grey;
    padding: 2rem 2rem;

    background-color: var(--bg);
    flex-wrap: wrap;
    gap: 1rem;

}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: white;
}

.contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}

.contact .row form .inputBox span {
    color: white;
    font-size: 2rem;
    padding-left: 2rem;

}

.contact .row form .inputBox input {
    width: 100%;
    background-color: black;
    padding: 18px;
    font-size: 1.7rem;
    color: whitesmoke;
    text-transform: none;

}

.inputBox ::placeholder {
    color: white;
}

/* blogs section */

.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box {
    border: var(--border);

}

.blogs .box-container .box .image {
    height: 25rem;
    width: 100%;
    overflow: hidden;
}

.blogs .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.blogs .box-container .box:hover .image img {
    transform: scale(1.2);
}

.blogs .box-container .box .content {
    padding: 2rem;
}

.blogs .box-container .box .content .title {
    font-size: 20px;
    line-height: 1.5;
    color: white;
}

.blogs .box-container .box .content .title:hover {
    color: var(--main-color);
}

.blogs .box-container .box .content span {
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 20px;
}

.blogs .box-container .box .content p {
    font-size: 20px;
    line-height: 1.8;
    color: white;
    padding: 1rem;
}

/* footer section */


.footer {
    background: var(--black);
    text-align: center;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: white;
    border: var(--border);
    margin: 1rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background-color: var(--main-color);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: 7px 10px;
    margin: 0 12px;
    color: white;
    border: var(--border);
    font-size: 20px;
}

.footer .links a:hover {
    background-color: var(--main-color);

}

.footer .credit {
    font-size: 20px;
    color: white;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span {
    color: var(--main-color);
}

.icons span {
    background-color: red;
    border-radius: 50%;
    display: flex;
    width: 22px;
    height: 22px;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 22px;
    right: 100px;
}

.card {
    position: fixed;
    top: 80px;
    left: 100%;
    width: 500px;
    background-color: rgb(112, 116, 4);
    transition: 0.5s;
    height: 90%;
}

.card h1 {
    color: yellow;
    font-weight: 100;
    margin: 0;
    height: 80px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.card .checkOut {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.card .checkOut div {
    background-color: yellow;
    width: 100%;
    height: 70px;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.card .checkOut div:nth-child(2) {
    background-color: black;
    color: white;

}

.active .card {
    left: calc(100% - 500px);
}









/* for making reponsive website */


/* media queries */
@media (max-width:991px) {
    html {
        font-size: 55%;

    }

    .header {
        padding: 15px 10px;
    }

    section {
        padding: 2rem 7%;
    }
}

@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: white;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar .active {
        right: 0;
    }


    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 15px;
        padding: 10px;
        font-size: 15px;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;

    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }

}

@media (max-width:450px) {
    html {
        font-size: 50%;

    }


}